table.specialities
  width: 100%

  th.number
    width: 4%
  th.code
    width: 8%
  th.name
    width: 25%
  th.profile
    width: 15%
  th.subfaculty
    width: 9%
  th.education_form
    width: 25%
  th.download_pdf
    width: 7%
  th.plans
    width: 7%

  tr.cycle
    td
      font-weight: bold
