table.specialities
  width: 100%

  th.number
    width: 3%
  th.code
    width: 5%
  th.name
    width: 25%
  th.profile
    width: 35%
  th.subfaculty
    width: 9%

  tr.cycle
    td
      font-weight: bold
