<% content_for :head_title, 'Наши специальности' %>

<% content_for :breadcrumbs do %>
  <a href="/">Главная страница</a>
  <span class="black">→</span>
  <a href="/edu">Наши специальности</a>
<% end %>

<h1>Наши специальности</h1>
<h2><%= link_to "Специальности и направления подготовки по ФГОС ВО ", edu_gos_path(:gos_generation => '3.5') %></h2>
<h2><%= link_to "Специальности и направления подготовки ВПО по ФГОС-3", edu_gos_path(:gos_generation => 3) %></h2>
<h2><%= link_to "Специальности и направления подготовки ВПО по ГОС 2-го поколения", edu_gos_path(:gos_generation => 2) %></h2>
