<div class="speciality_list">
<% subspecialities.group_by(&:degree).each do |degree, specialities| %>
  <h4><%= degree.text %></h4>
  <ul>
    <% subspecialities.group_by(&:speciality).each do |speciality, subspecialities| %>
      <li>
        <div class='list'>
          <h5><%= speciality %></h5>
          <ul>
            <% subspecialities.each do |subspeciality| %>
              <li>
                <div class='wrapper'>
                  <%= link_to [subspeciality.title, subspeciality.subdepartment.abbr].join(', '), rpz_subspeciality_path(subspeciality) %>
                  <%= subspeciality.reduced_text %>
                </div>
              </li>
            <% end %>
          </ul>
        </div>
      </li>
    <% end %>
  </ul>
<% end %>
</div>
