<h1 class='margined'><%= subspeciality.full_title %></h1>
<h2 class='margined'><%= subspeciality.extra_info %></h2>
<ul>
  <% @subspeciality.actual_semesters.each do |semester| %>
    <li>
      <h3><%= semester %></h3>
      <div class="collapsed_item">
        <%= render :partial => 'postal', :object => semester, :as => :semester %>
      </div>
    </li>
  <% end %>
</ul>
<script type="text/javascript">
  $('.collapsed_item').hide();
  $('li>h3').on('click', function(){
    if ($(this).siblings('.collapsed_item').is(':visible')) {
      return false;
    }
    $('.collapsed_item:visible').slideToggle();
    $(this).siblings('.collapsed_item').slideToggle();
    return false;
  });
</script>
