<h1><%= subspeciality.full_title %></h1>
<%= content_tag :h2, subspeciality.reduced_text if subspeciality.model.reduced? %>
<h3>Кафедра: <%= subspeciality.subdepartment %></h3>
<ul>
  <% subspeciality.semesters.each do |semester| %>
    <li>
      <h3><%= link_to semester, rpz_subspeciality_semester_path(subspeciality, semester) %></h3>
    </li>
  <% end %>
</ul>
