<h1><%= subspeciality.full_title %></h1>
<h2><%= subspeciality.extra_info %></h2>
<ul>
  <% @subspeciality.actual_semesters.each do |semester| %>
    <li>
      <h3><%= semester %></h3>
      <div class="collapsed_item">
        <%= render :partial => 'postal', :object => semester, :as => :semester %>
      </div>
    </li>
  <% end %>
</ul>
