<p class='head'>Томский государственный университет систем управления и радиоэлектроники</p>
<p class='head'>Рабочий план занятий</p>
<p class='head'>на ______________ семестр 20__/20__ уч.года, ЗиВФ, гр. ____________, кол-во студентов _________</p>
<%= render :partial => "#{@subspeciality.education_form}_table", locals: {semester: @semester} %>


<p class='assign'>Декан факультета __________________ <br/ >"___" ________ 20___</p>

<p class='assign'>Начальник учебного отдела ________________ <br /> "___" ________ 20__</p>


