<div class="ajaxed_item">
  <% if protocol.number? %>
    <div class='protocol'>Утверждено на заседании кафедры, протокол №<%= protocol.number %> от <%= l protocol.signed_on %></div>
    <% if can? :manage, protocol %>
      <%= link_to "править", edit_manage_year_speciality_subspeciality_discipline_work_programm_protocol_path(@year, @speciality, @subspeciality, @discipline, @work_programm), :remote => true, :class => 'edit_link' %>
    <% end %>
  <% else %>
    <div class='notice warning'>Не указан протокол заседания кафедры.</div>
    <% if can? :manage, protocol %>
      <%= link_to "добавить протокол", edit_manage_year_speciality_subspeciality_discipline_work_programm_protocol_path(@year, @speciality, @subspeciality, @discipline, @work_programm), :remote => true, :class => 'new_link' %>
    <% end %>
  <% end %>
</div>
