<div class="ajaxed_item">
  <% if protocol.number? %>
    <div class='success'>Утверждено на заседании кафедры, протокол №<%= protocol.number %> от <%= l protocol.signed_on %></div>
    <% if can? :manage, protocol %>
      <%= link_to "править", edit_manage_year_speciality_subspeciality_discipline_work_programm_protocol_path(@year, @speciality, @subspeciality, @discipline, @work_programm), :remote => true %>
    <% end %>
  <% else %>
    <div class='warning'>Не указан протокол заседания кафедры</div>
    <% if can? :manage, protocol %>
      <%= link_to "Добавить протокол", edit_manage_year_speciality_subspeciality_discipline_work_programm_protocol_path(@year, @speciality, @subspeciality, @discipline, @work_programm), :remote => true %>
    <% end %>
  <% end %>
</div>
