@import 'compass/reset'
@import 'compass/utilities'
@import 'compass/css3'
@import url(http://fonts.googleapis.com/css?family=Jura&subset=cyrillic)
@import 'esp_auth/shared'

$border_color:       #CCC9C7
$button_hover_color: #DEDEDE
$link_color:         #14526A
$link_color_hover:   #218AB2
$message_border:     #A7E8BE
$sub_menu_bg:        #F3F3F3
$top_menu_bg:        #E7E7E9
$warn_color:         #F15D3C

html, body
  font-size: 1em
  line-height: 1.62em
  margin: 0 0 40px 0
  height: 100%

html, body, input, a, p
  font-family: 'Jura', sans-serif
  font-weight: normal

h1, h2, h3, h4, h5, h6
  font-weight: normal
  margin: 0 0 0.62em 0

h1
  font-size: 2em

h2
  font-size: 1.7em

h3
  font-size: 1.5em

h4
  font-size: 1.4em

h5
  font-size: 1.2em

h6
  font-size: 1em

p
  margin: 0 0 0.1em 0

a
  color: $link_color

  &:hover
    color: $link_color_hover

.esp_auth_header_wrapper
  +clearfix
  position: static

  .esp_auth_header
    margin: 2px 10px

.autocomplete_data
  display: none

.main_navigation
  font-size: 1.1em
  margin: 15px 0
  text-align: center

  ul
    border-bottom: 1px solid #999
    position: relative
    z-index: 1

    li
      +border-radius(5px 5px 0 0)
      +inline-block
      background: $top_menu_bg
      border: 1px solid #999
      position: relative
      top: 1px

      a
        +inline-block
        padding: 7px 18px

      &.selected
        background: #fff
        border-bottom: none
        z-index: 2

        a
          text-decoration: none

.main_wrapper
  +clearfix

.left_side
  float: left
  width: 280px

  h6
    text-align: center

  .download_link, .back_link
    display: block
    text-align: center
    width: 100%

  .comment
    background: #acfca5
    color: #333
    padding: 15px

.right_side
  +clearfix

.message_folders, .manage_specialities, .cycles_navigation, .message_history, .toc, .actions
  padding: 10px

  li
    background: $top_menu_bg
    border-top: 1px solid $border_color

    a
      +clearfix
      display: block
      padding: 2px 5px

      span
        float: right

    &.selected
      background: #fff

      a
        text-decoration: none

    .sub_menu
      li
        padding: 0 0 0 15px

.message_history
  font-size: 0.8em

  .date
    display: block

.actions
  li
    div
      display: none

#how_to
  display: none

.list
  ul
    li
      +border-radius(5px)
      border: 1px solid $border_color
      margin: 10px

      .wrapper
        +border-radius(0 0 4px 4px)
        +single-box-shadow(#aaa, 1px, 2px, 10px)
        border-bottom: 2px solid $message_border
        padding: 5px 15px

      span
        display: block
