*.pid
*.swp
/.bundle
/bin
/config/database.yml
/config/settings.yml
/config/sunspot.yml
/db/*.sqlite3
/log/*.log
/log/*.log.lck
/solr/data
/solr/pids
/tmp
log/sunspot-solr-development.log*
public/assets/
