@import 'compass/reset'
@import 'compass/utilities'
@import 'compass/css3'
@import url(http://fonts.googleapis.com/css?family=Jura&subset=cyrillic)

$link_color:   #14526A
$link_color_hover: #218AB2

html, body, input, a, p
  font-family: 'Jura', sans-serif
  font-weight: normal

html
  font-size: 1em
  height: 100%

  body
    font-size: 1em
    height: 100%

    div
      +background-image(radial-gradient(color-stops(#eee, #bbb), 50% 50%))
      height: 100%

      a
        color: $link_color
        display: block
        font-size: 28px
        margin: 0 auto
        position: relative
        text-align: center
        top: 50%

        &:hover
          color: $link_color_hover

table
  border: 1px solid #888
  border-collapse: collapse
  margin: 0 0 25px 0
  width: 100%

  td, th
    border: 1px solid #888
    padding: 2px 4px

h1
  font-size: 20px
  line-height: 24px

h2
  font-size: 18px
  line-height: 22px

h3
  font-size: 16px
  line-height: 20px
h4
  font-size: 14px
  line-height: 18px

h5
  font-size: 12px
  line-height: 16px

h6
  font-size: 10px
  line-height: 14px

ul
  +clearfix
  margin: 10px

  li
    margin: 5px

    h3
      +inline-block
      cursor: pointer
      margin: 0 0 10px 0
      text-decoration: underline

h1
  margin: 10px

.discipline
  font-weight: bold

.collapsed_item
  background: none
