<%= simple_form_for [association_chain, resource].flatten, :remote => true do |form| %>
  <% resource.disciplines.group_by(&:cycle).each do |cycle, disciplines| %>
    <%= form.association :related_disciplines, :collection => disciplines - [resource.discipline], :as => :check_boxes, :label => cycle, :wrapper_html => { :class => 'cycle_wrapper' } %>
  <% end %>

  <div class="buttons">
    <%= form.submit 'Добавить дисциплины' %>
    <%= link_to "Отмена", '', :class => 'cancel_link' %>
  </div>
<% end %>
