<h1>Рабочие программы дисциплины</h1>

<%= render :partial => 'head' %>

<%= link_to "Добавить рабочую программу", new_year_speciality_subspeciality_discipline_work_programm_path(@year, @speciality, @subspeciality, @discipline) %>
