<%= simple_form_for [@year, @speciality, @subspeciality, @discipline, @work_programm], :remote => true do | f | %>
  <%= f.input :year, :label => 'Укажите год рабочей программы' %>
  <div class="buttons">
    <%= f.submit  %>
    <%= link_to 'Отмена', '#', :class => 'cancel_link' %>
  </div>
<% end %>
