<tr class='exercise'>
  <td class='left'>
    <div class='title'><%= publication.text %></div>
    <div class='description'><%= simple_format publication.url %></div>
  </td>
  <td>
    <%= link_to "править", edit_year_speciality_subspeciality_discipline_work_programm_publication_path(@year, @speciality, @subspeciality, @discipline, @work_programm, publication), :remote => true %>
    <%= link_to "удалить", year_speciality_subspeciality_discipline_work_programm_publication_path(@year, @speciality, @subspeciality, @discipline, @work_programm, publication), :method => :delete, :confirm => t('are_you_sure?') %>
  </td>
</tr>
