<li>
  <span style='font-style: italic;'><%= requirement.human_requirement_kind %>:</span> <%= requirement.description %>
  <div><%= link_to "Править", edit_year_speciality_subspeciality_discipline_work_programm_requirement_path(@year, @speciality, @subspeciality, @discipline, @work_programm, requirement), :remote => true %></div>
</li>
