<li>
  <span class='title'><%= appendix.title %></span>
  <%= link_to "изменить", edit_resource_path(appendix) %>
  <%= link_to "удалить", resource_path(appendix), :confirm => t('are_you_sure?'), :method => :delete %>
</li>
