<h5>4.1 Балльная раскладка отдельных элементов контроля по видам занятий</h5>
<% @discipline.semesters.each_with_index do |semester, index| %>
  <div class='<%= indicate_validity "brs_#{semester.number}_valid".to_sym %>'>
    <h6>4.1.<%= index+1 %> Балльная раскладка для <%= "#{semester.number} семестра" %></h6>
    <div class="notice warning">
      Нет ни одного элемента учебной деятельности. Необходимо добавить хотя бы один.<br/>
      Если для данной дисциплины предусмотрен курсовой проект / курсовая работа, необходимо отдельно добавить элементы учебной деятельности с указанием балльной стоимости.<br/>
      Если для данной дисциплины предусмотрен экзамен, необходимо добавить виды экзаменационных вопросов с указанием балльной стоимости.
    </div>
    <%= render :file => 'manage/rating_items/index', :locals => { :semester => semester } %>
  </div>
<% end %>

<h5>4.2 Методика формирования пятибалльных оценок в контрольные точки</h5>
<div class='notice success'>Оценка в контрольные точки выставляется в соответствии с объемом работы, выполненной студентом к моменту контрольной точки.</div>
  <table>
    <thead>
      <tr>
        <th>Оценка</th>
        <th>Процент от максимальной суммы баллов</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class='centered'>отлично</td>
        <td class='centered'>от 90%</td>
      </tr>
      <tr>
        <td class='centered'>хорошо</td>
        <td class='centered'>70% &mdash; 89%</td>
      </tr>
      <tr>
        <td class='centered'>удовлетворительно</td>
        <td class='centered'>60% &mdash; 69%</td>
      </tr>
      <tr>
        <td class='centered'>неудовлетворительно</td>
        <td class='centered'>менее 60%</td>
      </tr>
    </tbody>
  </table>

<h5>4.3 Методика формирования итоговой оценки по дисциплине</h5>
<div class='notice success'>Независимо от набранной в семестре текущей суммы баллов обязательным условием перед сдачей экзамена и/или для получения зачета является выполнение студентом необходимых по рабочей программе для дисциплины видов занятий.</div>
<table>
  <thead>
    <tr>
      <th>Оценка</th>
      <th>Процент от максимальной суммы баллов</th>
      <th>Оценка (ECTS)</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class='centered'>5 (отлично) (зачтено)</td>
      <td class='centered'>от 90%</td>
      <td class='centered'>А (отлично)</td>
    </tr>
    <tr>
      <td rowspan=3 class='centered'>4 (хорошо) (зачтено)</td>
      <td class='centered'>85%-89%</td>
      <td class='centered'>B (очень хорошо)</td>
    </tr>
    <tr>
      <td class='centered'>75%-84%</td>
      <td class='centered'>С (хорошо)</td>
    </tr>
    <tr>
      <td class='centered'>70%-74%</td>
      <td rowspan=2 class='centered'>D (удовлетворительно)</td>
    </tr>
    <tr>
      <td rowspan=2 class='centered'>3 (удовлетворительно) (зачтено)</td>
      <td class='centered'>65%-69%</td>
    </tr>
    <tr>
      <td class='centered'>60%-64%</td>
      <td class='centered'>E (посредственно)</td>
    </tr>
    <tr>
      <td class='centered'>2 (неудовлетворительно) (не зачтено)</td>
      <td class='centered'>менее 60%</td>
      <td class='centered'>F (неудовлетворительно)</td>
    </tr>
  </tbody>
</table>
<div class='notice success'>Преподаватель имеет право не учитывать набранную студентом сумму баллов до ликвидации студентом текущих долгов по дисциплине (лабораторные работы, практические задания, курсовой проект(работа) и др.).</div>
