<div class="ajaxed_item">
  <%= purpose %>
  <% if can? :modify, @work_programm %>
    <%= link_to "Редактировать цели", [:edit_purpose, :manage, association_chain, resource].flatten, :remote => true %>
  <% end %>
</div>
