<li class='ajaxed_item'>
  <%= link_to work_programm,
              manage_year_speciality_subspeciality_discipline_work_programm_path(@year.number, @speciality.code, @subspeciality, work_programm.discipline, work_programm) %>

  <%= link_to t('remove'),
              manage_year_speciality_subspeciality_discipline_work_programm_path(@year.number, @speciality.code, @subspeciality, work_programm.discipline, work_programm),
              :method => :delete,
              :remote => true,
              :confirm => t('are_you_sure?') %>
</li>
