<table class="ajaxed">
  <thead>
    <tr>
      <th>Название</th>
      <th>Где находится</th>
      <th>Кол-во экземпляров</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <%= render collection %>
    <tr>
      <td colspan='4'>
        <% if can? :modify, @work_programm %>
          <%= link_to "+ #{t("activerecord.attributes.publication.publication_kind_enum.#{kind}").mb_chars.downcase}", new_manage_year_speciality_subspeciality_discipline_work_programm_publication_path(@year, @speciality, @subspeciality, @discipline, @work_programm, :params => { :publication => { :publication_kind => kind }}), :remote => true, :class => 'new_record in_table' %>
        <% end %>
      </td>
    </tr>
  </tbody>
</table>
