<table class="ajaxed">
  <thead>
    <tr>
      <th>Название</th>
      <th>Где находится</th>
      <th>Кол-во экземпляров</th>
      <th class='ud_actions'></th>
    </tr>
  </thead>
  <tbody>
    <%= render collection %>
    <tr>
      <td colspan='4' class='centered'>
        <% if can? :modify, @work_programm %>
          <%= link_to Publication.publication_kind_add.find_value(kind).text, new_manage_year_speciality_subspeciality_discipline_work_programm_publication_path(@year, @speciality, @subspeciality, @discipline, @work_programm, :params => { :publication => { :publication_kind => kind }}), :remote => true, :class => 'new_record in_table new_link' %>
        <% end %>
      </td>
    </tr>
  </tbody>
</table>
