<div class="nav_menu">
  <h6><%= title %></h6>
  <ul>
    <% nav_collection.each do |item, anchor| %>
      <li><a href='#<%= anchor %>'><%= item %></a></li>
    <% end %>
    <li>&uarr;&nbsp;<a href='#top'>Наверх</a>&nbsp;&uarr;</li>
  </ul>
</div>
