<div class="list">
  <% if collection.any? %>
    <ul>
      <%= render collection %>
    </ul>
  <% else %>
    <div class="empty">Нет сообщений</div>
  <% end %>
</div>

<%= content_for :bottom_left_side_additions do %>
  <div class="comment">
    Здесь вы увидите список сообщений, которые показывают движение рабочей программы.
  </div>
<% end %>
