<div class="list">
  <% if collection.any? %>
    <ul>
      <%= render collection %>
    </ul>
  <% else %>
    <div class="empty">Нет сообщений</div>
  <% end %>
</div>

<%= content_for :bottom_left_side_additions do %>
  <div class="comment">
    Здесь вы увидите список сообщений, которые показывают движение рабочей программы.
    Создать новую рабочую программы вы можете:
    <ul>
      <li>
        1. Перейти на список специальностей
      </li>
      <li>
        2. Выбрать нужный год набора
      </li>
      <li>
        3. Выбрать уровень подготовки (бакалавриат, специалитет, магистратура)
      </li>
      <li>
        4. Выбрать специальность и направление подготовки
      </li>
      <li>
        5. Выбрать нужную дисциплину
      </li>
    </ul>
  </div>
<% end %>
