<div class="speciality_list">
  <h4><%= Speciality.degree.find_value(params[:degree]).text %>, <%= t('enter_year', :year => @year.number).mb_chars.downcase %></h4>
  <% if collection.any? %>
    <ul>
      <%= render collection %>
    </ul>
  <% else %>
    <div class="empty">Нет специальностей</div>
  <% end %>
</div>

<%= content_for :bottom_left_side_additions do %>
  <div class="comment">
    Здесь вы видите список всех специальностей и направлений подготовки.
  </div>
<% end %>
