<div class="speciality_list">
  <h2><%= t("activerecord.values.speciality.#{params[:degree]}") %>, <%= t('enter_year', :year => @year.number).mb_chars.downcase %></h2>
  <% if collection.any? %>
    <ul>
      <%= render collection %>
    </ul>
  <% else %>
    <div class="empty">Нет специальностей</div>
  <% end %>
</div>
