<li>
  <div class="wrapper">
    <%= discipline %>
    <% if controller_name =~ /subspecialities/ %>
      <span class="subdepartment"><%= discipline.subdepartment.abbr %></span>
      <div class="list">
        <ul class='ajaxed'>
          <% if discipline.work_programms.any? %>
            <%= render discipline.work_programms %>
          <% end %>
          <li class='noborder'>
            <%= link_to "Добавить рабочую программу по дисциплине &quot;#{discipline}&quot;".html_safe, new_manage_year_speciality_subspeciality_discipline_work_programm_path(@year, @speciality, @subspeciality, discipline), :remote => true, :class => 'new_record' %>
          </li>
        </ul>
      </div>
    <% end %>
  </div>
</li>
