<div class="list">
  <% if collection.any? %>
    <ul>
      <%= render collection %>
    </ul>
  <% else %>
    <div class="empty">Нет ГОС`ов</div>
  <% end %>
</div>

<%= content_for :bottom_left_side_additions do %>
  <div class="comment">
    Здесь вы можете управлять справочником ГОС`ов.
  </div>
<% end %>

