@import 'compass/reset'
@import 'compass/utilities'
@import 'compass/css3'
@import 'jquery-ui/jquery-ui'
@import url(http://fonts.googleapis.com/css?family=Jura&subset=cyrillic)
@import 'esp_auth/shared'

$border_color: #CCC9C7
$button_hover_color: #DEDEDE
$link_color:   #14526A
$link_color_hover: #218AB2
$sub_menu_bg: #F3F3F3
$top_menu_bg: #E7E7E9
$warn_color:  #F15D3C

html, body
  font-size: 1em
  line-height: 1.62em
  margin: 0 0 40px 0
  height: 100%

p
  margin: 0 0 0.1em 0

html, body, input, a, p
  font-family: 'Jura', sans-serif
  font-weight: normal

h1, h2, h3, h4, h5, h6
  font-weight: normal
  margin: 0 0 0.62em 0

h1
  font-size: 2em

h2
  font-size: 1.7em

h3
  font-size: 1.5em

h4
  font-size: 1.4em

h5
  font-size: 1.2em

h6
  font-size: 0.8em

a
  color: $link_color

  &:hover
    color: $link_color_hover

.show
  display: block

.hide
  display: none

.need_gradient
  +background-image(radial-gradient(color-stops(#eee, #bbb), 50% 50%))
  height: 100%
  position: relative
  top: 0
  bottom: 0

  a
    display: block
    font-size: 28px
    margin: 25% auto
    text-align: center
    width: 400px

.esp_auth_header_wrapper
  position: static

.top_menu
  background: $top_menu_bg
  padding: 15px 0

  ul
    text-align: center

    li
      +inline-block
      border-right: 1px solid $border_color
      margin: 0 10px 0 0
      padding: 0 10px 0 0

      &:last-child
        border: none

      a
        font-size: 1.5em

    .active
      a
        font-size: 1.8em
        font-weight: bold

.sub_menu
  background: $sub_menu_bg
  border-bottom: 1px solid $border_color
  border-top: 1px solid $border_color
  padding: 5px 15px

  ul
    text-align: right

    li
      +inline-block
      border-left: 1px solid $border_color
      margin: 0 0 0 10px
      padding: 0 0 0 10px

      &:first-child
        border: none

.nav_menu
  +border-radius(3px)
  background: $top_menu_bg
  bottom: 10px
  opacity: 0.5
  padding: 5px 15px
  position: fixed
  right: 5px

  &:hover
    opacity: 1

  h6
    font-size: 1.1em

  ul
    li
      &:last-child
        border-top: 1px solid $border_color
        color: $link_color
        margin: 15px 0 0 0
        padding: 5px 0 0 0
        text-align: center

.main_wrapper
  padding: 25px 15px

  .top_nav
    margin: 0 0 20px 0

  .head_degree
    font-size: 2.2em
    text-align: center

  .head_center, .main_head, .center
    text-align: center

  .right
    text-align: right

  .left
    text-align: left

  .list
    margin: 0 0 40px 0

    li
      +clearfix

  .sub_list
    margin: 0 0 25px 0

  .warnings, .error
    color: $warn_color
    font-size: 0.7em

  .specialities
    .subdepartment
      float: right

    .subspeciality
      cursor: pointer
      padding: 3px 25px

      &:hover
        background: $sub_menu_bg

      &:before
        color: #e14b32
        content: '\2022'
        font-size: 1.3em
        margin: 0 5px 0 0

    .success
      &:before
        color: #358f04

    .deleted
      a
        text-decoration: line-through

  table
    border: 0
    border-collapse: separate
    width: 100%

    .warnings, .error
      font-size: 1em

    td, th
      padding: 0

    td.title
      width: 720px

    thead
      th
        color: #797979
        padding: 0 10px
        text-align: center

    tbody
      tr:hover
        background: $sub_menu_bg

      td
        border-bottom: 1px solid $border_color
        padding: 5px 0
        text-align: center

        &.noborder
          border: none

      .warning
        span
          background: none !important
          display: inline !important
          margin: 0 !important
          position: static !important
          width: auto !important

    .department_title, .semester
      border-top: 1px solid $border_color
      border-bottom: 1px solid $border_color
      color: #797979
      text-align: center

    .subdepartment_title
      text-align: left

  form
    +clearfix
    border: 1px solid $border_color
    border-left: none
    border-right: none
    font-size: 0.8em
    padding: 10px 0 15px

    .error
      color: #e95b48
      display: block
      font-size: 0.9em

      &:before
        content: '\2b11'

    .input
      label
        display: block
        margin: 0 0 0.62em 0

        abbr
          display: none

      input
        border: 1px solid #CCC9C7
        margin: 0 0 0.62em 0
        padding: 3px 5px
        width: 600px

      textarea
        border: 1px solid #CCC9C7
        height: 80px
        margin: 0 0 0.62em 0
        padding: 3px 5px
        width: 600px

    .check_boxes, .boolean
      input
        margin: 0 10px 0 0
        width: auto

    .buttons
      margin: 10px 0 0 0

      input, .submit_link
        +border-radius(2px)
        background: $sub_menu_bg
        border: 1px solid $border_color
        font-size: 0.9em
        margin: 0 15px 0 0
        padding: 3px 7px

        &:hover
          cursor: pointer
          background: $button_hover_color

        &:active
          position: relative
          top: 1px

      a
        +border-radius(2px)
        background: $sub_menu_bg
        border: 1px solid $border_color
        border: 1px solid $border_color
        color: black
        font-size: 0.9em
        padding: 2px 7px
        text-decoration: none

        &:hover
          cursor: pointer
          background: $button_hover_color

        &:active
          position: relative
          top: 1px

  .main_head
    margin: 25px 0

  .subhead_wrapper
    h4, h5
      margin: 25px 0

  .container
    margin: 25px 0

    h2
      margin: 1em 0

    h3
      margin: 0.7em 0 0 0
      padding: 0 0 0 15px

    h4
      margin: 0.7em 0 0 0
      padding: 0 0 0 30px

    h5
      margin: 0.7em 0 0 0
      padding: 0 0 0 0

      &.collapsible
        padding: 0 0 0 45px

    .warning
      background: #FDF3F1

      span
        background: image_url('warning.png') no-repeat

    .success
      background: #EBF4EB

      span
        background: image_url('success.png') no-repeat

    .warning, .success
      span
        +inline-block
        height: 16px
        margin: 0 0 0 10px
        position: relative
        top: -1px
        width: 16px

    .toc
      &:after
        border-bottom: 1px dashed $link_color
        color: $link_color
        content: 'свернуть/развернуть все'
        font-size: 0.6em
        margin: 0 0 0 25px

      &:hover
        cursor: pointer

    .collapsible
      &:after
        border-bottom: 1px dashed $link_color
        color: $link_color
        content: 'развернуть \2193'
        font-size: 0.7em
        margin: 0 0 0 25px

      &:hover
        cursor: pointer

      &.opened
        &:after
          color: $link_color
          content: 'свернуть \2191'

    .collapsible_wrapper
      display: none
      margin: 15px 30px

    .didactic_units
      li
        +inline-block
        +border-radius(3px)
        background: #FDF3F1
        color: #222
        font-size: 0.9em
        line-height: 1.2em
        margin: 0 10px
        padding: 0px 4px

        &.success
          background: #EBF4EB

