html, body, div, p, h1, h2, h3, table
  margin: 0
  padding: 0
  border: 0
  font-weight: inherit
  font-style: inherit
  font-size: 100%
  font-family: inherit
  vertical-align: baseline

body
  background-color: #fff
  color: #000
  font-family: "Times New Roman", Times, serif
  font-size: 16px
  float: left

h1, h2, h4
  text-indent: 2.5em
  margin-bottom: 0.5em

h1, h2, h3
  font-size: 16px
  font-size: 16px

p
  line-height: 1.5
  margin-bottom: 0.5em
  text-indent: 2.5em

.widthout_indent
  text-indent: 0

table
  border: 0
  border-collapse: collapse
  width: 100%
  tr
    td
      padding: 3px 0 3px 5px
  th
    font-weight: normal
    text-align: center

.title_page_body
  width: 100%
  margin: 0 auto

.left_part
  width: 160px

.page-break
  display: block
  clear: both
  page-break-after: always

.center
  text-align: center

.uppercase
  text-transform: uppercase

.strong
  font-weight: bold

.indentation
  margin: 20px 0

.title_page, .sign_page, .purposes_and_tasks_page, .content_chapter_page
  display: block
  clear: both
  text-align: justify

  .ministry
    font-size: 14px

  .university_type
    font-size: 15px

  .university
    font-size: 16px

.first_prorector
  text-align: left
  float: right
  font-size: 14px
  margin: 20px 0
  width: 280px

  p
    text-indent: 0

.programm_info, .programm_loading, .programm_checks
  clear: both
  display: block
  width: 100%

.programm_loading
  table
    border: 1px solid #000
    width: 70%
    th
      border: 1px solid #000
    td
      border: 1px solid #000
      padding: 3px 0
      text-align: center
      width: 5%
    td:nth-child(1)
      padding: 3px 0 3px 5px
      width: 30%
      text-align: left
    td:nth-child(2)
      width: 15%
  p
    text-indent: 0

.programm_checks
  margin: 20px 0 0 0
  table
    width: 200px

.programm_info
  table
    margin: 0 0 20px 0

.authors, .subdepartment_chief, .coordinators
  margin: 0 0 20px 0
  table
    td
      padding: 10px 20px 10px 0
    td:nth-child(1)
      vertical-align: middle
      width: 50%
    td:nth-child(2), td:nth-child(3)
      vertical-align: bottom
      width: 20%

.rating
  margin: 0 0 20px 0

.split_table
  display: inline-block
  clear: both
  page-break-after: auto
  width: 100%

  .exercises, .self_education, .rating_items
    td, th
      border: 1px solid #000
      border-collapse: collapse
      padding: 3px5px
      vertical-align: top

    .hours
      padding: 2px 0 0 0
      margin: 0
      text-align: center
      vertical-align: top
      width: 30px

  .exercises_title
    text-align: left

  .description
    text-align: justify
    padding: 0 20px 0 0

    p
      line-height: normal
      text-indent: 0
      margin: 0 0 0.5em 0
