<div class='appenix_page'>
    <% resource.appendixes.each do |appendix| %>
       <h1 class='strong uppercase'><%= appendix %></h1>
        <ol>
          <% appendix.appendix_items.each do |item| %>
            <li><%= item.description %></li>
          <% end %>
        </ol>
    <div class='page-break'></div>
    <% end %>
</div>
