<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<style>h1 {font-size:14px;}</style>
<h1>1. Цели и задачи дисциплины, ее место в учебном процессе</h1>
<h2>1.1 Цели преподавания дисциплины</h2>
<%= work_programm.purpose_html %>
<h2>1.2 Задачи изучения дисциплины</h2>
<%= work_programm.task_html %>
<h2>1.3 Место дисциплины в структуре ООП</h2>
<%= dependencies %>
